<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">
  <head th:replace="fragments/common :: head('게시판')">
  </head>
  
  <body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" th:replace="fragments/common :: menu('board')">
	</nav>
	
	<main class="container">
		
	    <h2>게시판</h2>
	    <form action="#" th:action="@{/board/form}" th:object="${board}" method="post">
	    	<input type="hidden" th:field="*{id}" >
		    <div class="mb-3">
			  <label for="title" class="form-label">제목</label>
			  <input type="text" class="form-control" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" 
			  	id="title" placeholder="제목을 입력하세요..." th:field="*{title}" >
			  <div id="titleFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
			      제목 에러 메시지
			  </div>
			</div>
			<div class="mb-3">
			  <label for="content" class="form-label">내용</label>
			  <textarea class="form-control" th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" 
			  	id="content" rows="3" th:field="*{content}" ></textarea>
			   <div id="contentFeedback" class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
			      내용 에러 메시지
			  </div>
			</div>
			<div class="text-end">
				<button type="submit" class="btn btn-primary">확인</button>
				<a type="button" class="btn btn-primary" th:href="@{/board/list}">취소</a>
			</div>
		</form>
	</main>
	
	
	<footer th:replace="fragments/common :: footer">
	</footer>

  </body>
</html>